<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alicenguyen.contextlock">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- GPS permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!--
    <uses-feature android:name="android.hardware.fingerprint"
        android:required="true"/>
    -->
    <application
        android:name=".FirebaseHandler"
        android:allowBackup="true"
        android:icon="@mipmap/fingerprint_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fingerprint_ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExperienceSamplingActivity"
            android:exported="true"
            android:label="@string/feedback_survey"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".ExperienceSamplingActivity2"
            android:label="@string/feedback_survey"
            android:theme="@style/LightTheme" />

        <service
            android:name=".LocationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".UserActivityJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name=".ActivityBroadcastReceiver" />
        <receiver android:name=".RandomAlarmReceiver" >
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ExportDBHelper" />
        <receiver android:name=".LockScreenReceiver" />


        <activity
            android:name=".InitialSurvey"
            android:exported="true" />
        <activity android:name=".InitialSurvey2" />
        <activity android:name=".InitialSurvey3" />
        <activity android:name=".InitialSurvey4"></activity>
    </application>

</manifest>